name: Build Release Image

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Image
        run: |
          IMAGE=ghcr.io/sw-campus/sw-campus-client
          TAG=${{ github.ref_name }}
          echo "Building RELEASE image with tag $TAG"
          docker build -t $IMAGE:$TAG .
          docker push $IMAGE:$TAG

